body{
  font-family: 'Open Sans', sans-serif;
}
.player__controls{
  position: absolute;
  display: flex;

  bottom: 0px;
  left: 0px;

  padding: 9px;
  padding-top: 10px;
  width: 100%;
  box-sizing: border-box;

  background-color: rgba(0,0,0,0.6);
}
.player__title{
  font-size: 3em;
  text-shadow: 2px 2px 8px #333;
  color: white;

  margin-left: 12px;
  margin-top: 48px;
  text-transform: uppercase;
  font-weight: 300;
}
.player__seekContainer{
  position: absolute;
  bottom: 91px;
  width: 1280px;
  height: 10px;
  margin-right: -6px;

  z-index: 3;
}
.player__seek{
  float:left;
  height: 2px;


  background-color: #ff4081;
}
.player__seek--end{
  float: left;
  height: 10px;
  width: 5px;
  margin-top: -5px;

  background-color: #ff4081;
}
.player__control{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 70px;

  font-size: 48px;
  color: white;
  border: 5px solid white;
  border-radius: 7px;

  cursor: pointer;
}

.mdl-button--colored{
  background-color: white !important;
}